@charset "utf-8";
/* @import "" */
/* 
.abc {
    color: red;
}

.abc, h1.headline{
    color: red;
}

.abc > ul + p {
    color: blueviolet;
}

.abc + p {
    color: red;
}

.abc > a:hover {
    color: red;
} */

p {
    color:red;
}

.text {
    color: blue;
}

.list > li {
    color: red;
}

.list .list-item {
    color: blue;
}

.parent > a {
    color: red;
}
a {
    color: blue !important;
}

.sample{
    background-color: #000;
}
@media screen and (max-width: 600px) and (min-width: 300px) {
    .sample {
        background-color: red;
    }
}

.box {
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    margin: 20px;
    display: inline;
}

.line {
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    margin: 20px;
    display: block;
}