@charset "utf-8";

.parent p {
    color: red;
}

.parent > p {
    color: green;
}

.abc,
.def {
    width: 30px;
    height: 30px;
    background-color: brown;
    margin: 10px 10px 10px 10px;
}

.def.xyz {
    background-color: red;
}

.def + a {
    font-size: 30px;
}